[project]
name = "brainnn"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "matplotlib>=3.10.7",
    "numpy>=2.3.4",
    "tabulate>=0.9.0",
    "torch>=2.9.0",
    "torchvision>=0.24.0",
]
